doctype html
html(lang="en")
    include ../partials/head.pug
    include ../partials/body.pug
        include ../partials/header.pug
        main.flex.ai-c.jc-c.fd-c.barba-container(data-barba="container" data-barba-namespace=title)
            .hero.ai-c.gap.responsive-grid-l
                .hero__content.flex.fd-c.jc-c
                    small.hero__upperline
                        strong #{meta.site_name}
                    h1.subheader  #{header}
                    p.subheader__text #{meta.site_description}
                    a.padding.borderius.bg-primary.hover-clickable.margin-l.margin-y(href="https://app.grithub.fr") #{cta}
                .hero__image.floating.animate-fade-up
                    include ../partials/heroIMG.pug
            

        include ../partials/footer.pug 
    include ../partials/scripts.pug
        